<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<h2>ETIX</h2>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Legislation", legislation_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact us", "https://www.linkedin.com/in/beekun-mozaffar-82b3ab1a3/", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/3237/3237476.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%if current_user.is_analyst? %>
            <%= link_to "My Dashboard", dashboard_analyst_path(current_user) , class: "dropdown-item" %>
            <%else%>
            <%= link_to "Forms", dashboard_user_path(current_user) , class: "dropdown-item" %>
            <%end%>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
