<div class="container-2 p-4">
   <h3>Request Number</h3>
  <div class="card text-white bg-dark mb-4">
   <div class="card-body">
    <p><strong>First name:</strong> <%= @declaration.car_registration.user.first_name %></p>
    <p><strong>Last name:</strong> <%= @declaration.car_registration.user.last_name %></p>
   </div>
  </div>

  <div class="card text-white bg-dark mb-4">
    <div class="card-body">
      <p class="card-text"><strong>Cof Number:</strong> <%= @declaration.cof_number %> </p>
      <p class="card-text"><strong>Policy Insurance Number:</strong> <%= @declaration.policy_insurance_number %> </p>
    </div>
  </div>

  <div class="card text-white bg-dark mb-4">
    <div class="card-body">
      <%= link_to "Validate", validate_declaration_path(@declaration), method: "patch", class:"btn btn-success btn-sm btn-blue" %>
      <%= link_to "Reject",  reject_declaration_path(@declaration), method: "patch", class:"btn btn-danger btn-sm btn-blue" %>
    </div>
  </div>
</div>
