<div class="container-2 p-4">
   <h3>Request Number</h3>
  <div class="card text-white bg-dark mb-4">
   <div class="card-body">
    <p><strong>First name:</strong> <%= @car_registration.user.first_name %></p>
    <p><strong>Last name:</strong> <%= @car_registration.user.last_name %></p>
   </div>
  </div>

  <div class="card text-white bg-dark mb-4">
  <div class="card-body">
    <p><strong>Car Make:</strong> <%= @car_registration.car_make %></p>
    <p><strong>Car Model:</strong> <%= @car_registration.car_model %></p>
    <p><strong>Chassis Number:</strong> <%= @car_registration.chassis_number %></p>
    <p><strong>Engine Number:</strong> <%= @car_registration.engine_number %></p>
    <p><strong>Engine Capacity:</strong> <%= @car_registration.engine_capacity %></p>
    <p><strong>Numeric Plates:</strong> <%= @car_registration.numeric_plate %></p>
  </div>
  </div>

   <div class="card text-white bg-dark mb-4">
    <div class="card-body">
     <%= link_to "Validate", validate_car_registration_path(@car_registration), method: "patch", class:"btn btn-success btn-sm btn-blue" %>
     <%= link_to "Reject", reject_car_registration_path(@car_registration), method: "patch", class:"btn btn-danger btn-sm btn-blue" %>
    </div>
   </div>
</div>
