	<p class="card-text display"><strong>Welcome</strong> <%= @user.first_name %> </p>


  <div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-body text-white bg-dark">
       <% if @car_registrations_pending != [] %>
          <p class="card-text border-bottom border-warning"><strong>Pending Car Registrations</strong></p>
        	<% @car_registrations_pending.each do |f| %>
            <p class="card-text">	<p>Request number: <%= f.request_number %></p>
	        <% end %>
        <% end %>
     <div class="card-footer bg-transparent border-warning">Your request is being proceed..<i class="fas fa-sync fa-spin"></i> </div>
   </div>
 </div>

  <div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-body text-white bg-dark">
      <p class="card-text border-bottom border-warning"><strong>Pending Declarations</strong></p>
      <% if @declarations_pending != [] %>
        <% @declarations_pending.each do |f| %>
          <p class="card-text"><p>Request number: <%= f.request_number %></p></p>
        <% end %>
      <% end %>
      <div class="card-footer bg-transparent border-warning">Your request is being proceed..<i class="fas fa-sync fa-spin"></i> </div>
    </div>
  </div>

  <div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-body text-white bg-dark">
      <p class="card-text border-bottom border-warning"><strong>Pending Fines</strong></p>
      <% if @fines_pending != [] %>
        <% @fines_pending.each do |f| %>
         <p class="card-text">Request number: <%= f.request_number %></p>
        <% end %>
      <% end %>
     <div class="card-footer bg-transparent border-warning">Your request is being proceed..<i class="fas fa-sync fa-spin"></i> </div>
   </div>
 </div>



<% if @general_questions_pending != [] %>
<p class="card-text border-bottom border-primary"><strong>Pending General Questions</strong></p>
	<% @general_questions_pending.each do |f| %>
	<p>Request number: <%= f.request_number %></p>
	<% end %>
<% end %>

<% if @car_registrations_validate != [] %>
  <p class="card-text border-bottom border-success"><strong>Validated Car Registrations</strong></p>
    <% @car_registrations_validate.each do |f| %>
    <p>Request number: <%= f.request_number %></p>
    <%= link_to "View Details", car_registration_path(f), class:"btn btn-outline-dark"%>
    <% end %>
<% end %>


<% if @declarations_validate != [] %>
<p class="card-text border-bottom border-success"><strong>Validated Declarations</strong></p>
	<% @declarations_validate.each do |f| %>
	<p>Request number: <%= f.request_number %></p>
  <%= link_to "View Details", declaration_path(f), class:"btn btn-outline-dark"%>
	<% end %>
<% end %>


<% if @fines_validate != [] %>
<p class="card-text border-bottom border-success"><strong>Validated Fines</strong></p>
	<% @fines_validate.each do |f| %>
	<p>Request number: <%= f.request_number %></p>
  <%= link_to "View Details", fine_path(f), class:"btn btn-outline-dark"%>
	<% end %>
<% end %>


<% if @general_questions_validate != [] %>
<p class="card-text border-bottom border-success"><strong>Validated General Question</strong></p>
	<% @general_questions_validate.each do |f| %>
	<p>Request number: <%= f.request_number %></p>
  <%= link_to "View Details", general_question_path(f), class:"btn btn-outline-dark"%>
	<% end %>
<% end %>


<% if @car_registrations_reject != [] %>
<p class="card-text border-bottom border-danger"><strong>Rejected Car Registrations</strong></p>
	<% @car_registrations_reject.each do |f| %>
	<p>Request number: <%= f.request_number %></p>
  <%= link_to "View Details", car_registration_path(f), class:"btn btn-outline-dark"%>
	<% end %>
<% end %>


<% if @declarations_reject != [] %>
<p class="card-text border-bottom border-danger"><strong>Rejected Car Declarations</strong></p>
	<% @declarations_reject.each do |f| %>
	<p>Request number: <%= f.request_number %></p>
  <%= link_to "View Details", declaration_path(f), class:"btn btn-outline-dark"%>
	<% end %>
<% end %>


<% if @fines_reject != [] %>
<p class="card-text border-bottom border-danger"><strong>Rejected Fines</strong></p>
	<% @fines_reject.each do |f| %>
	<p>Request number: <%= f.request_number %></p>
  <%= link_to "View Details", fine_path(f), class:"btn btn-outline-dark"%>
	<% end %>
<% end %>


<% if @general_questions_reject != [] %>
<p class="card-text border-bottom border-danger"><strong>Rejected General Questions</strong></p>
	<% @general_questions_reject.each do |f| %>
	<p>Request number: <%= f.request_number %></p>
    <%= link_to "View Details", general_question_path(f), class:"btn btn-outline-dark"%>
	<% end %>
<% end %>
