<div class="card-body">
	<p class="card-text border-bottom border-dark"><strong>Details</strong></p>
	<p class="card-text"><strong>First name:</strong> <%= @user.first_name %> </p>
	<p class="card-text"><strong>Last name:</strong> <%= @user.last_name %> </p>


<p class="card-text border-bottom border-primary"><strong>Pending Car Registrations</strong></p>
	<% @car_registrations_pending.each do |f| %>
	<% if f.user_id == current_user.id %>
	<p>Request number: <%= f.request_number %></p>
	<% end %>
    <% end %>

<p class="card-text border-bottom border-primary"><strong>Pending Declarations</strong></p>
	<%  @declarations_pending.each do |f| %>
	<% if f.car_registration.user_id == current_user.id %>
	<p>Request number: <%= f.request_number %></p>
	<% end %>
	<% end %>

<p class="card-text border-bottom border-primary"><strong>Pending Fines</strong></p>
	<% @fines_pending.each do |f| %>
	<% if f.user_id == current_user.id %>
	<p>Request number: <%= f.request_number %></p>
	<% end %>
	<% end %>

<p class="card-text border-bottom border-primary"><strong>Pending General Questions</strong></p>
	<% @general_questions_pending.each do |f| %>
	<% if f.user_id == current_user.id %>
	<p>Request number: <%= f.request_number %></p>
	<% end %>
	<% end %>


<p class="card-text border-bottom border-success"><strong>Validated Car Registrations</strong></p>
	<% @car_registrations_validate.each do |f| %>
	<% if f.user_id == current_user.id %>
	<p>Request number: <%= f.request_number %></p>
  <%= link_to "View Details", car_registration_path(f), class:"btn btn-outline-dark"%>
	<% end %>
	<% end %>

<p class="card-text border-bottom border-success"><strong>Validated Declarations</strong></p>
	<% @declarations_validate.each do |f| %>
	<% if f.car_registration.user_id == current_user.id %>
	<p>Request number: <%= f.request_number %></p>
	<% end %>
	<% end %>

<p class="card-text border-bottom border-success"><strong>Validated Fines</strong></p>
	<% @fines_validate.each do |f| %>
	<% if f.user_id == current_user.id %>
	<p>Request number: <%= f.request_number %></p>
	<% end %>
	<% end %>

<p class="card-text border-bottom border-success"><strong>Validated General Question</strong></p>
	<% @general_questions_validate.each do |f| %>
	<% if f.user_id == current_user.id %>
	<p>Request number: <%= f.request_number %></p>
	<% end %>
	<% end %>


<p class="card-text border-bottom border-danger"><strong>Rejected Car Registrations</strong></p>
	<% @car_registrations_reject.each do |f| %>
	<% if f.user_id == current_user.id %>
	<p>Request number: <%= f.request_number %></p>
  <%= link_to "Re-fill Form", new_car_registration_path(f), class:"btn btn-outline-danger"%>
	<% end %>
	<% end %>

<p class="card-text border-bottom border-danger"><strong>Rejected Car Declarations</strong></p>
	<% @declarations_reject.each do |f| %>
	<% if f.car_registration.user_id == current_user.id %>
	<p>Request number: <%= f.request_number %></p>
	<% end %>
	<% end %>

<p class="card-text border-bottom border-danger"><strong>Rejected Fines</strong></p>
	<% @fines_reject.each do |f| %>
	<% if f.user_id == current_user.id %>
	<p>Request number: <%= f.request_number %></p>
	<% end %>
	<% end %>

<p class="card-text border-bottom border-danger"><strong>General Questions</strong></p>
	<% @general_questions_reject.each do |f| %>
	<% if f.user_id == current_user.id %>
	<p>Request number: <%= f.request_number %></p>
	<% end %>
	<% end %>

</div>
