<% if @general_question.question_approved == "Validate" %>
<div class="container">
  <div class="card text-white bg-dark mb-4">
    <div class="card-body">
      <h1>Client</h1>
      <p class="card-text border-bottom border-success"><strong>General Question</strong> </p>
      <p class="card-text"><strong>First name:</strong> <%= @user.first_name %> </p>
      <p class="card-text"><strong>Last name:</strong> <%= @user.last_name %> </p>
    </div>
    <div class="card-body">
      <p class="card-text border-bottom border-success"><strong>Your request  <%= @general_question.request_number %> has been validated! </strong> </p>
      <p>Please note that your question has been validated, we will call you in 5 min.</p>
    </div>
  </div>
</div>
<% else %>
<div class="container">
  <div class="card text-white bg-dark mb-4">
    <div class="card-body">
      <h1>Client</h1>
      <p class="card-text border-bottom border-success"><strong>General Question</strong> </p>
      <p class="card-text"><strong>First name:</strong> <%= @user.first_name %> </p>
      <p class="card-text"><strong>Last name:</strong> <%= @user.last_name %> </p>
    </div>
    <div class="card-body">
      <p class="card-text border-bottom border-success"><strong>Your request  <%= @general_question.request_number %> has been rejected. </strong> </p>
      <p>Please note that your question is invalid, reformulate your question by filling the form below:</p>
      <p>Thank you, if you have any issues please contact us on: +230 57807059.</p>
       <%= link_to "General Question Form", general_question_path, class:"btn btn-outline-warning"%>
    </div>
  </div>
</div>
<% end %>
