<div class="container-2 p-4 ">
   <h3>Request Number:</h3>
  <div class="card text-white bg-dark mb-4">
    <div class="card-body">
      <p class="card-text border-bottom border-success"><strong>Client</strong></p>
      <p class="card-text"><strong>First name:</strong> <%= @general_question.user.first_name %> </p>
      <p class="card-text"><strong>Last name:</strong> <%= @general_question.user.last_name %> </p>
    </div>
  </div>

    <div class="card text-white bg-dark mb-4">
    <div class="card-body">
      <p class="card-text"><strong>Issue:</strong> <%= @general_question.issue %> </p>
    </div>
  </div>


  <div class="card text-white bg-dark">
    <div class="card-body">
      <p class="card-text border-bottom border-success"><strong>Ticket</strong></p>
      <p class="card-text">Your General Inquiry Request Number: <strong> <%= @general_question.request_number %> </strong></p>
      <p>We will get back at you in a moment, thank you for bearing with us.</p>
      <%= link_to "Reject", reject_general_question_path(@general_question), method: "patch", class:"btn btn-danger btn-sm btn-blue" %>
    </div>
  </div>
    <%= simple_form_for(@general_question) do |f| %>
      <%= f.input :answer, input_html: { class: "input" }%>
      <%= f.button :submit,"Validate", class: "btn btn-primary btn-blue" %>
    <% end %>
</div>
